/* * {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #1c1e20;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  color: aliceblue;
  text-align: center;
}
.buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  gap: 1rem;
}

.btn {
  border: none;
  padding: 0.4rem;
  color: #062847;
  background-color: orange;
  border-radius: 5px;
  font-size: large;
  min-width: 7rem;
  width: 8rem;
} */

body{
  background-color: rgb(22, 24, 35);
}